openapi: 3.2.0
info:
  title: ALSO Storefront JSON Search API
  version: '2026-08-02'
  summary: Read-only JSON storefront endpoints ALSO publishes for agents at ridealso.com.
  description: 'ALSO does not publish an OpenAPI document. This description was **generated by API Evangelist**

    from the read-only endpoints ALSO itself enumerates for agents in its published

    `/agents.md` (mirrored at `/llms.txt`), and every path below was probed live against

    `https://ridealso.com` on 2026-08-02 with the observed HTTP status recorded in

    `x-evidence`. Schemas were derived from the actual response bodies returned by those

    probes - no field is asserted that was not observed.


    This is an AE-generated contract for a real, callable surface. It is **not** a document

    published or endorsed by ALSO. The provider''s own machine-readable contracts are the

    Storefront GraphQL schema (`graphql/also-storefront-2026-07.graphql`, captured by open

    introspection) and the UCP profile at `/.well-known/ucp`.

    '
  contact:
    name: ALSO Media
    email: media@ridealso.com
    url: https://ridealso.com/pages/contact
  x-generated-by: API Evangelist enrichment pipeline (local-v1)
  x-provider-published: false
  x-source: https://ridealso.com/agents.md
servers:
- url: https://ridealso.com
  description: ALSO storefront (Shopify-hosted, primary domain)
tags:
- name: Search
  description: Storefront search.
paths:
  /search:
    get:
      operationId: searchStorefront
      summary: Search the storefront
      description: Storefront search. Returns an HTML results page, not JSON - listed here because ALSO advertises it to agents in agents.md.
      tags:
      - Search
      parameters:
      - name: q
        in: query
        required: true
        description: The search query.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Resource type to search.
        schema:
          type: string
          enum:
          - product
          - article
          - page
      responses:
        '200':
          description: An HTML search results page.
          content:
            text/html:
              schema:
                type: string
      x-evidence:
        fetched: '2026-08-02'
        url: https://ridealso.com/agents.md
        http_status: 200
        note: advertised in the provider's own agents.md
