openapi: 3.2.0
info:
  title: ALSO Storefront JSON Cart API
  version: '2026-08-02'
  summary: Read-only JSON storefront endpoints ALSO publishes for agents at ridealso.com.
  description: ALSO does not publish an OpenAPI document.
  contact:
    name: ALSO Media
    email: media@ridealso.com
    url: https://ridealso.com/pages/contact
  x-generated-by: API Evangelist enrichment pipeline (local-v1)
  x-provider-published: false
  x-source: https://ridealso.com/agents.md
servers:
- url: https://ridealso.com
  description: ALSO storefront (Shopify-hosted, primary domain)
tags:
- name: Cart
  description: The current session cart.
paths:
  /cart.js:
    get:
      operationId: getCart
      summary: Get the current session cart
      description: Returns the cart bound to the caller's session cookie. An anonymous caller receives an empty cart.
      tags:
      - Cart
      responses:
        '200':
          description: The current cart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
      x-evidence:
        fetched: '2026-08-02'
        url: https://ridealso.com/cart.js
        http_status: 200
        content_type: text/javascript; charset=utf-8
components:
  schemas:
    Cart:
      type: object
      description: The session cart as returned by /cart.js.
      properties:
        token:
          type: string
        note:
          type:
          - string
          - 'null'
        attributes:
          type: object
        currency:
          type: string
        item_count:
          type: integer
        items:
          type: array
          items:
            type: object
        items_subtotal_price:
          type: integer
        original_total_price:
          type: integer
        total_price:
          type: integer
        total_discount:
          type: integer
        total_weight:
          type: number
        requires_shipping:
          type: boolean
        cart_level_discount_applications:
          type: array
          items:
            type: object
        discount_codes:
          type: array
          items:
            type: object
